#grid {
  width: 750px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

#modal-img {
  max-width: 70%;
  max-height: 70%;
}

#modal.open {
  display: flex;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
